[Desktop Entry]
Type=Application
Exec=xmodmap /home/jharmon/.Xmodmap
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=Xmodmap
Name=Xmodmap
Comment[en_US]=
Comment=
